{% extends 'base.html' %}
{% block page_title %}{{ 'Edit Member' if member else 'New Member' }}{% endblock %}
{% block subtitle %}Maintain member registration details{% endblock %}

{% block content %}
<div class="actions">
    <a class="btn" href="{{ url_for('members') }}">
        ← Back to Members Register
    </a>
</div>
<section class="panel narrow">
  <form method="post" class="form-grid single">
    <label>Member No
      <input name="member_no" value="{{ member.member_no if member else '' }}" required>
    </label>

    <label>Full Name
      <input name="full_name" value="{{ member.full_name if member else '' }}" required>
    </label>

    <label>Phone
      <input name="phone" value="{{ member.phone if member else '' }}">
    </label>

    <label>NRC / ID
      <input name="national_id" value="{{ member.national_id if member else '' }}">
    </label>

    <label>Group
      <input name="group_name" value="{{ member.group_name if member else '' }}">
    </label>

    <label>Status
      <select name="status">
        {% for s in ['Active', 'Inactive'] %}
          <option value="{{ s }}" {% if member and member.status == s %}selected{% endif %}>{{ s }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Member Type
    <select name="member_type">
      <option value="Ordinary Member" {% if member and member.member_type == 'Ordinary Member' %}selected{% endif %}>Ordinary Member</option>
      <option value="Committee Member" {% if member and member.member_type == 'Committee Member' %}selected{% endif %}>Committee Member</option>
    </select>
  </label>

  <label>Committee Position
    <select name="committee_position">
      <option value="">None</option>
      <option value="Chairperson" {% if member and member.committee_position == 'Chairperson' %}selected{% endif %}>Chairperson</option>
      <option value="Vice Chairperson" {% if member and member.committee_position == 'Vice Chairperson' %}selected{% endif %}>Vice Chairperson</option>
      <option value="Treasurer" {% if member and member.committee_position == 'Treasurer' %}selected{% endif %}>Treasurer</option>
      <option value="Secretary" {% if member and member.committee_position == 'Secretary' %}selected{% endif %}>Secretary</option>
      <option value="Auditor" {% if member and member.committee_position == 'Auditor' %}selected{% endif %}>Auditor</option>
      <option value="Committee Member" {% if member and member.committee_position == 'Committee Member' %}selected{% endif %}>Committee Member</option>
    </select>
  </label>

    <div class="actions">
        <button type="submit" class="primary">
            Save Member
        </button>

        <a class="btn" href="{{ url_for('members') }}">
            Cancel
        </a>
    </div>
  </form>
</section>
{% endblock %}