{% extends 'base.html' %}
{% block page_title %}Register Member{% endblock %}
{% block content %}
<div class="panel narrow"><form method="post" class="form-grid"><label>Member No<input name="member_no" required placeholder="M251"></label><label>Full Name<input name="full_name" required></label><label>Phone<input name="phone"></label><label>NRC/ID<input name="national_id"></label><label>Group<input name="group_name" placeholder="Group 1"></label><button class="btn primary">Save Member</button></form></div>
{% endblock %}
